customer-management-sapi/src/main/mule/commen/customer-management.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
   	
	<flow name="customer-management-main">
        <http:listener config-ref="customer-management-httpListenerConfig" path="${http.listner.path}">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="customer-management-config" />
    </flow>
    <flow name="delete:\Customer:customer-management-config">
		<flow-ref doc:name="Flow Reference" doc:id="ded0431b-0550-4ecb-a392-336c7f7de422" name="Delet-CustomerFlow"/>
    </flow>
    <flow name="get:\Customer:customer-management-config">
		<flow-ref doc:name="Flow Reference" doc:id="e990c990-8c9e-4767-b24f-2d0706ffb5c7" name="fetch-customerFlow"/>
    </flow>
    <flow name="post:\Customer:application\json:customer-management-config">
		<flow-ref doc:name="Flow Reference" doc:id="5b2c4e71-d426-4481-bb2d-7c460987ef93" name="add-customerFlow"/>
    </flow>
</mule>
