customer-management-sapi/src/main/mule/Implimentation/fetch-customer.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<flow name="fetch-customerFlow" doc:id="a4b2629c-89a8-43f9-9b0d-e583ad933a00" >
		<logger level="INFO" doc:name="Logger" doc:id="90c2307a-82b8-4878-8cb9-bc227313840a" message="Entry logger"/>
		<file:read doc:name="Read" doc:id="63548c73-ff62-4ec5-8141-fab53536148a" config-ref="File_Config" path="C:\work\mulesoft\project\customer-mgn\cleint-list.csv"/>
		<logger level="INFO" doc:name="Logger" doc:id="b4cf7361-721a-4da3-bc6d-349356e3985a" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="b0af2a6b-8bf5-49da-b0db-bb5e6a78979b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
  
	payload map (payload01,index)->{
	"client key": payload01."Client Key" as Number,
	"first name": payload01." First Name",
	"middle name": payload01." Middle Name",
	"last name": payload01." Last Name",
	"birthdate": payload01." BirthDate",
	"Height": payload01." Height",
	"weight": payload01." Weight",
	"billinga address": payload01." Billing Street" ++ payload01." Billing City" ++ " " ++ payload01." Billing State" ++ " " ++ payload01." Billing Postal Code" ++ " " ++ payload01." Billing Country",
	"created date": payload01." Created Date" as String {format: "uuuu.MM.DD"}	
	}
	




]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="29588bf4-3d75-4595-90c7-ba3da3781c12">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{}]]></ee:set-payload>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="Total-records"><![CDATA[%dw 2.0
output application/json
---
sizeOf(payload)]]></ee:set-variable>
				<ee:set-variable variableName="lists" ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="2d359193-70a9-40b8-9e9d-7f11d50bd367" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{	
    "Customer-list":vars.lists,
	"Number-of-Customer":vars."Total-records"
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
